.contacts{
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;

}
.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.textContainer h1{
   font-size: clamp(50px, 6vw, 100px);
   line-height: 80px;
   color: #e70505;
}
.item{
    padding-left: 10px;
}
.textContainer h2{
    text-align: left; 
}
.textContainer span{
   font-weight: 300;
}
.formContainer{
    flex: 1;
}
.formContainer form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formContainer input,textarea{
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid red;
    color: #fff;
    background-color: inherit;
}
.formContainer input::placeholder,textarea::placeholder{
    color: #fff;
}
.formContainer button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    border-radius: 0;
    position: relative;
    z-index: 1;
    background-color: #f73838;
    border: 1px solid #e70505;
    padding: 10px;
    cursor: pointer;
}
.formContainer button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #e70505;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
    
}
.formContainer button:hover::before,
.formContainer button:focus::before{
    transform: scaleX(1);
    transform-origin: left;
}


