.navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width: 1366px;
    min-width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 min(2vw, 20px);
}
.wrapper span{
    font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
.social_cont{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 30px;
    background-color: #cbc9c952;
    backdrop-filter: blur(20px);
}

.social_cont a svg{
    width: min(40px, 5vw);
    height: min(40px, 5vw);
}
