html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body{
  background-color: #000;
  color: white;
}
a{
  text-decoration: none;
  color: inherit;
}
section{
  min-height: 100vh;
  scroll-snap-align: center;
  font-family: "DM Sans", sans-serif;
}
.home{
  background-image: url("./assets/profileimage/herowall2.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background image covers the entire element */
  background-position: center; /* Centers the background image */
}
