
body{
  background-color: #fff;
  color: #fff;
}
a{
  text-decoration: none;
  color: inherit;
}

.section{
  height: 100vh;
  font-family: "DM Sans", sans-serif;
}
.skillsSection{
  min-height: 100vh;
}
.contactSection{
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.expSection{
  min-height: 100vh;
}
.home{
  background-image: url("./assets/profileimage/lI8q6FKa-wallha.com.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background image covers the entire element */
  background-position: center; /* Centers the background image */
  min-height: 100vh;
  /* background: linear-gradient(180deg, #e4e3e3,#505064); */
}

@media (min-width: 640px) {
   .home{
    background-image: url("./assets/profileimage/Rb4UZcrW-wallha.com.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background image covers the entire element */
   }
   /* body{
    color: #fff;
   } */
}